<a href="https://colab.research.google.com/github/yasirabid96/SleepTimePicker/blob/master/python3_deep_dive_refresher_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 3 Deep Dive Part 1 Course Notes

# **Section 2 Refresher**

# 1 Type Hirarchy

In [ ]:
# Discussing type hirarcy in python

# Numbers are subset of type hirarchy

# Integral and non Integral
# Boolean and Integers are integral
# Float is non integral and complex number (real and imaginary part)
# Decimal are non integral. (Decimal and float) Just more precision.

#Type Hierarchy
#In Python, every piece of data has a "type". This type defines what kind of data it is and what operations can be performed on it. These types are organized in a hierarchy, similar to a family tree.

#Numbers in the Hierarchy
#Numbers are a subset of this type hierarchy. This means that there's a broad category called "Numbers" within the larger type system.
#Integral and Non-integral Numbers
#Integral Numbers: These represent whole numbers without any fractional parts.

#Boolean: This type represents True or False values. In Python, Booleans are considered a subtype of integers, where True is equivalent to 1 and False is equivalent to 0.
##Integers: These represent whole numbers, such as 1, 2, 100, -5, etc.
#Non-integral Numbers: These represent numbers with fractional parts.

#Float: These are used for representing numbers with decimal points, such as 3.14, -2.5, etc.
#Complex: These numbers have both a real and an imaginary part (represented using j), such as 2 + 3j.
#Decimal: Similar to floats but they provide higher precision, often used for financial calculations where accuracy is crucial.
#Fraction: A fraction is numerical value that is a part of a whole. It is evaluated by dividing a whole into number of parts. For example, Â½ represents half of a whole number or a thing.

# **Collections**

In [ ]:
# Sequences
# Mutable [Lists]
# Immutable [Tuples, Strings]





# Sets

# Mutable [Sets]
# Immutable [Frozen Sets]


# Mapping

# Dictionary

In [ ]:
# Important Info

# The implimentation of sets and dict are same , both are hashmaps but sets are not key value

# **Callables**

In [ ]:
# Any thing which you can invoke

In [ ]:
# User defined such as classes

# Generators
# instance methods (Once class gets instanciated)
# __Call__() this dunder method allows class to become callable
# built in functions are callable too such as len(), open()
# built in methods we have such as .append(x) on list etc

# Singlton

In [ ]:

# Singlton

#: None

# None is singlton because let say a = None and if you print a so it will refer you to the same memory point.
# NotImplemented (when doing some sort of operator overloading such as a = Myclass() , b=2 and doing a+b so we use non implimented basically to give python signal that this is not ment to do this thing so use your own or raise error)
# Elipses such as ... indicates as a placeholder to inciate future implimenttion of taht function etc or can be used for slicing in numpy

# Logical and Physical line of codes

In [ ]:
# Implicit and Explit

# Implicit are list[], tuples(), dicts{}/ sets {} , functional args and params , they can carry multiple line and still be an expression

# Expressions in:
# list literals: [ ]
# tuple literals: ( )
# dictionary literals: { }
# set literals: { }
# function arguments / parameters
# [1, 2, 3]
# [1, #item 1
# 2, #item 2
# 3 #item 3
# ]
# def my_func(a,
# b, #comment
# c):
# print(a, b, c)
# my_func(10, #comment
# 20, 30


# Explicit

# Breaking a line into multiple lines where python will break if we havnt used \ backslash such as:
# But inline comment in this case wont work

In [ ]:
a=10;b=10;c=10
if a\
  and b\
  and c:
  print('hello')

hello

In [ ]:
a=10;b=10;c=10
if a\
  and b\ # hello
  and c:
  print('hello')

# MutliLine String Literals

In [ ]:
'''

Hello
'''


"""
Hello

"""


# Important note # Comments dont get compiled but doc string does.

'\nHello\n\n'

In [ ]:
# Example of line continuation

In [ ]:
a=[1,3,4]

In [ ]:

a = [1,2,4,
     5,6]

In [ ]:
a

[1, 2, 4, 5, 6]

# 2 Ways of adding inline comment in implicit expressions

In [ ]:
a = [1 #Item
     ,2]


a

[1, 2]

In [ ]:
a= [1, #Item
   2]

a

[1, 2]

In [ ]:
# same for tuple and sets and dict and functions

In [ ]:
def my_func(a, # value is good
            b,
            c):
    print(a,b,c)

In [ ]:
my_func(10,20,40)

10 20 40

In [ ]:
a = 10
b =10
c=10

In [ ]:
if a > 5\
  and b > 5\
    and c > 5:
      print('hello')

hello

In [ ]:
# make it more readable is the key use formatters such as pep8 or black to enable auto implimentation of best practices

# Use String Indentation

In [ ]:
a= ''''Some work to be done


    yup'''

a

"'Some work to be done\n\n\n    yup"

In [ ]:
# as notices it is preserving \n as welll

In [ ]:
def my_func():
  a = '''this is my life
i like it'''
  return a

print(my_func()) # since in this case indentation doent work like as epxected for string literals

this is my life
i like it

# Indentifier Names

In [ ]:
# are case sensitive my_var

# Must start with underscore (_) or letter (a-z A-Z)

  # Followed by any number or underscores, letters or digits (0-9)

  # var my_var index1 index_1 _var __var __lt__

# It cannot be reserved words which are python preserved

# Convensions

In [ ]:
# _my_var this _ to indicate its private which is still accessable but its a convention
# object named this way will not be imported by statement such as from module import *


# Name Mangling

# __my_var
  # Useful in inheritance chains

# __my_var__ dont invent them stick to system defined

# Other Naming Conventions

In [ ]:

############# This is PEP 8 STYLE GUIDE #############

# Packages short, all-lowercase names, Preferably no underscores.  # utilities

# Modules short, all-lowercase names, can have underscores # db_utils dbutils

# Classes CapWords (Upper Camel Case) convention. BankAccount

# Functions Lowercase words seperated by _ and snake case # open_account

# Variables Lowercase words seperated by _ and snake case # account_id

# Constants all-uppercase, words seperated by underscores MIN_APR

# Example

In [ ]:
# Package: utilities # Technically folder
# Module: db_utils # file name

# File: utilities/db_utils.py
class BankAccount: # Class name
    def __init__(self, account_number, balance=0.0):
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return True
        return False

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            return True
        return False

    def get_balance(self):
        return self.balance


from utilities.db_utils import BankAccount

account = BankAccount(account_number="12345678")
account.deposit(500)
account.withdraw(100)
print(account.get_balance())  # Output: 400

# Conditionals

In [ ]:
a = 6

if a < 5:
  print('a < 5')
else:
  print('a >= 5')

a >= 5

In [ ]:
# Example of nested if
a = 10

if a<5:
  print('a < 5')
else:
  if a < 10:
    print("5 <= a < 10")
  else:
    print("a >= 10")

a >= 10

In [ ]:
a=[1,2,3,4,5]
b=[1,2,3,4,5]

for i in a:
  print(i)
  for j in b:
      print(j)

1
1
2
3
4
5
2
1
2
3
4
5
3
1
2
3
4
5
4
1
2
3
4
5
5
1
2
3
4
5

# No Switch Statement in Python

In [ ]:
# THE CLOSET TO SWITCH STATEMENT IS ELIF

a = 5

if a<5:
  print('a < 5')
elif a < 10:
  print("5 <= a < 10")
elif a < 15:
  print("10 <= a < 15" )
elif a < 20:
  print("15 <= a < 20")
else:
  print("a >= 20")

5 <= a < 10

In [ ]:
b = 'a < 5' if a < 5 else 'a >= 5'
# This code uses a ternary operator
#(also known as a conditional expression) to assign a value to the variable b.
print(b)

a >= 5

# Functions

In [ ]:
s=[1,2,3]
len(s)

3

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
math.exp(1)

2.718281828459045

In [ ]:
def func_1():
  '''Good Function'''
  print('running func_1')
  print('done with func_1')

func_1()

running func_1
done with func_1

In [ ]:
def func_2(a: int,b: int): # type hinting for documentation not actually forced
  return a*b

func_2(4,3)

12

In [ ]:
# In Python, functions are objects and can
#be treated like variables. During compilation, the interpreter doesn't execute the
# function's code. When it encounters the 'def' keyword, it creates a function
#object with associated metadata (name, parameters, docstring, etc.) and establishes
# the function's scope, but delays execution until the function is called.

In [ ]:
# Term	Python's Behavior
# Execution	Running a Python program, managed by the interpreter and PVM.
# Interpretation	Converts bytecode into executable instructions at runtime.
# Compilation	Converts Python source code into bytecode (.pyc files) behind the scenes.
# Runtime	The phase when the program is actively executing and interacting.


# Bytecode                                   	           #Binary
# Purpose	Intermediate code for virtual machines	        Machine code for direct execution
# Platform	Platform-independent	                        Platform-dependent
# Execution	Requires a virtual machine or interpreter   	Executed directly by the CPU
# Readability	Partially readable (if disassembled)	      Not human-readable
# Example Output	Python .pyc file	.exe or .bin file
# Python Context	Used internally by Python interpreter.  Not directly produced by Python


# Interpretation vs. Compilation:

# Unlike compiled languages (like C), where source code is converted
#  into machine code (binary) directly, Python keeps the bytecode as an intermediate step.
# The PVM acts as the "translator" between bytecode and actual machine operations.

In [ ]:
def fun_3():
  return func_4()

def func_4():
  return 'running func_4'

fun_3()

'running func_4'

In [ ]:
# Calling func_5() before defining func_6() will result in an error.
# This is because when func_5() is called, it attempts to call func_6(),
# which hasn't been defined yet and is therefore not available in the scope.

def func_5():
  return func_6()

print(func_5())

def func_6():
  print('running func_6')

NameError: name 'func_6' is not defined

In [ ]:
type(func_5)

function

In [ ]:
my_func = func_4
my_func()

'running func_4'

In [ ]:
func_4()

my_func()

'running func_4'

# Lambda

In [ ]:
# Lambda does the same thing as my_func = func_4 but without name

lambda x: x**2

In [ ]:
fn1 = lambda x: x**2    # as we can see fn1 type is function si lambda is same as function but without def
fn1(3)

9

In [ ]:
type(fn1)

function

In [ ]:
# and we know function are just object same as variables

# While loop

In [ ]:
i=0

while i<5:
  print(i)
  i+=1

0
1
2
3
4

In [ ]:
# In python we dont have DO while like c++ or other languages so we can do something like



i=5

while True:
  print(i)
  if i >= 5:
    break # Break will terminate the loop chain
    print('hello')

5

In [ ]:
min_len=2

name=input('Please enter your name: ')

while not(len(name) >= min_len and name.isprintable() and name.isalpha()):
  name=input('Please enter your name: ')

print('Hello, {0}'.format(name))

Please enter your name: muhammad
Hello, muhammad

In [ ]:

# Method      	Checks For	                       Empty String Behavior	              Examples of Failing Strings
# .isalpha()	  All characters being alphabetic	   Returns False	                    "123", "Hello123", ""
# .isprintable()	All characters being printable	 Returns True	                    "Hello\nWorld", "\tTab"

# Refactoring above code

In [ ]:
# This small refactoring helped us avoid duplicate code for removing duplicate code for taking input
min_len=2
while True:
  name=input('Please enter your name: ')
  if len(name) >= min_len and name.isprintable() and name.isalpha():
    break
print('Hello, {0}'.format(name))

Please enter your name: 12
Please enter your name: 12
Please enter your name: 12
Please enter your name: yasir
Hello, yasir

In [ ]:
a= 0

while a < 10:
  a+=1
  if a % 2 == 0:
    continue # it go the next iteration rather than going to the next line
  print(a)

1
3
5
7
9

# While Else example

In [ ]:
# One way of doing it is without else statement and using flag

val = 4
data = [1, 2, 3]
idx = 0
found = False  # Initialize a flag to track if 'val' is found

while idx < len(data):
  if data[idx] == val:
    found = True  # Set the flag to True if 'val' is found
    break  # Exit the loop
  idx += 1

if not found:  # Check the flag after the loop
  data.append(val)  # Append 'val' if it was not found

print(data)

In [ ]:
val = 4
data = [1,2,3,2]
idx=0
while idx < len(data):
  if data[idx] == val:
    break  # Exit the loop if 'val' is found in 'data'
  idx += 1
else:
  # This 'else' block executes ONLY if the 'while' loop completes
  # without encountering a 'break' statement (i.e., 'val' was not found in 'data').
  data.append(val)
print(data)

[1, 2, 3, 2, 4]

# Break and Continue with try block

In [ ]:
a = 10
b = 0

try:
  a/b
except ZeroDivisionError:
  print('division by 0')
else:
  print('no exceptions')
finally:
  print('always runs')

division by 0
always runs

In [ ]:
a = 0
b = 2

while a < 4:
  print('-------------')
  a += 1
  b -= 1

  try:
    a / b
  except ZeroDivisionError:
    print('{0}, {1} - division by 0'.format(a,b))
    continue # even tho we have continue here finally will still execute and same for break.
  finally:
    print('{0}, {1} - always executes'.format(a,b))

  print(f'{a}, {b} - main loop')

-------------
1, 1 - always executes
1, 1 - main loop
-------------
2, 0 - division by 0
2, 0 - always executes
-------------
3, -1 - always executes
3, -1 - main loop
-------------
4, -2 - always executes
4, -2 - main loop

In [ ]:
a = 10
b = 2

while a < 4:
  print('-------------')
  a += 1
  b -= 1

  try:
    a / b
  except ZeroDivisionError:
    print('{0}, {1} - division by 0'.format(a,b))
    break # even tho we have continue here finally will still execute and same for break.
  finally:
    print('{0}, {1} - always executes'.format(a,b))

  print(f'{a}, {b} - main loop')

else:
  print('Code executed without a zero division error')

Code executed without a zero division error

# For Loop

In [ ]:
# In python the for loop is not like other languages

# In python, an iterable is an object capable of returning values one at a time

# for example string, tuple, list (Objects) with iterable nature.

In [ ]:
for i in range(5): # range is iterable and it calles the next on each iteration and then that value become available

# range is not a collection its iterable
  print(i)

0
1
2
3
4

In [ ]:
# while loop is the closest to for loop in other lanaguages such as c++ or dart etc

# in python let say
# i=0
# while i<5:
#    i+=1 since we dont have ++ operator in python
# i =None # to get it clean the momory
# In python for loop is iterables

In [ ]:
# # Yes, the range function in
# Python works similarly to a generator behind the scenesâit
#doesn't actually store all the numbers in memory. Instead,
#it lazily generates each value when you need it, which is
#conceptually similar to how a generator uses yield.

In [ ]:
for i in [1,2,3,4]: # since list, tuple and range is iterable not a collection it lazy load based on demand
  print(i)

1
2
3
4

In [ ]:
for c in 'hello':  # string is iterable as well (Object)
  print(c)

h
e
l
l
o

In [ ]:
for x in ('a','b','c'): # tuple is iterable
  print(x)

a
b
c

In [ ]:
for x in [(1,2),(3,4),(5,6)]: # list of tuple is iterable
  print(x)

(1, 2)
(3, 4)
(5, 6)

In [ ]:
for i,j in [(1,2),(3,4),(5,6)]: # list of tuple is iterable
  print(i,j) # extracting tuple values directly

1 2
3 4
5 6

In [ ]:
for i in range(1,5):
  if i%2==0:
    break
  print(i)

1

In [ ]:
for i in range(1,5):
  print(i)
  if i %7 ==0:
    print('multiple of 7 found')
    break
else:
  print('no multiples of 7 in the range') # else hits if no break hits simple if we exhaust the loop

1
2
3
4
no multiples of 7 in the range

In [ ]:
for i in range(5):
  print('-----------------')
  try:
    10/(i-3)
  except ZeroDivisionError:
    print('divided by 0')
    continue
  finally:  # finally will always run even continue hits which go the next iteration
    print('always run')

-----------------
always run
-----------------
always run
-----------------
always run
-----------------
divided by 0
always run
-----------------
always run

In [ ]:
s = 'hello'
for c in s:
  print(c)

h
e
l
l
o

# Getting Index for Iterables

In [ ]:
s = 'hello'
i = 0
for c in s:
  print(i, c)
  i += 1

0 h
1 e
2 l
3 l
4 o

In [ ]:
# another way of doing that

s = 'hello'

for i in range(len(s)):
  print(i, s[i])

0 h
1 e
2 l
3 l
4 o

In [ ]:
# Better way of doing it

s = 'Hello'

for i, c in enumerate(s): # Enumerate returns a tuple where fist value is index and second is actual value
  print(i, c)

0 H
1 e
2 l
3 l
4 o

In [ ]:
for i in {1,2,3}:  # sets are iteratable
  print(i)

1
2
3